body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.header, .contenta, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

h1, ul {
    margin: 0;
}

.header {
    padding-left: 100px;
    padding-top: 10px;
    display: flex;
}

.headerlinks {
    display: flex;
    margin-left: auto;
    padding-right: 100px;
}

ul {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.headerlinks a {
    text-decoration: none;

}

.headerlinks a, .contentatext {
    font-size: 18px;
    color: #F9FAF8;
}

.contenta {
    padding-top: 75px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

img {
    display: flex;
    flex-shrink: 1;
    height: 200px;
    width: 400px;
}